name: GitHub CI

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      home:
        description: 'location'
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: PrintOutput
      run: echo "The workflow ran successfully"
    - name: Use inputs
      run: |
        echo "Hello ${{ github.event.inputs.name }}!"
